#s-05147548-c327-4d07-8294-6cc030d25275 > #backgroundBox {
  position: absolute;
}
#s-05147548-c327-4d07-8294-6cc030d25275 > #alignmentBox {
  position: relative;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_1 {
  position: absolute;
  width: 921.0px;
  min-height: 108.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F60053;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_1 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_2 {
  position: absolute;
  width: 444.9999999999993px;
  min-height: 107.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_2 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_3 {
  position: absolute;
  width: 1365.9999999999995px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FF0000;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_3 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_1 {
  position: absolute;
  width: 754.2578125000002px;
  min-height: 63.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_2 {
  position: absolute;
  width: 150.25781249999898px;
  min-height: 90.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Image_1 {
  position: absolute;
  width: 117.2734375px;
  height: 89.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Image_3 {
  position: absolute;
  width: 94.32031250000011px;
  height: 85.99999999999977px;
  opacity: 0.74;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_2 {
  position: absolute;
  width: 313.64062500000034px;
  min-height: 34.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_2 span {
  color: #FF5722;
  text-align: left;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FF5722;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_1 {
  position: absolute;
  width: 1347.9999999999993px;
  min-height: 112.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 21.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_4 {
  position: absolute;
  width: 421.0px;
  min-height: 745.8624397172939px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_3 {
  position: absolute;
  width: 500.33593749999994px;
  min-height: 420.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial Rounded MT Bold_1.51.0_system',Arial;
  font-size: 21.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_4 {
  position: absolute;
  width: 421.64062500000057px;
  min-height: 40.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_4 span {
  color: #FF5722;
  text-align: left;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FF5722;
  text-decoration: none;
  font-family: 'Black Han Sans_17.0.0_google',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Image_4 {
  position: absolute;
  width: 664.0px;
  height: 460.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_2 {
  position: absolute;
  width: 195.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bangers_24.0.0_google',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #F9F9F9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #F9F9F9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F9F9F9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #F9F9F9;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Bangers_24.0.0_google',Arial;
  font-size: 22.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Bangers_24.0.0_google',Arial;
  font-size: 22.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_1 {
  position: absolute;
  width: 195.0px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bangers_24.0.0_google',Arial;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #F9F9F9;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #F9F9F9;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F9F9F9;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #F9F9F9;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Bangers_24.0.0_google',Arial;
  font-size: 22.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Bangers_24.0.0_google',Arial;
  font-size: 22.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-05147548-c327-4d07-8294-6cc030d25275 #s-Image_2 {
  position: absolute;
  width: 831.6640625000002px;
  height: 745.9999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-05147548-c327-4d07-8294-6cc030d25275 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}